.template-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #27272D;
}
.template-get-yours {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 555px;
  display: flex;
  max-width: 1440px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
}
.template-container2 {
  display: contents;
}
@media(max-width: 991px) {
  .template-get-yours {
    height: auto;
    align-items: center;
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .template-get-yours {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
